/* === PAGE === */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* bloque le scroll du visiteur */
  overscroll-behavior: none;
  background: #0b1b2b;
  font-family: system-ui, Inter, Roboto, Arial, sans-serif;
  color: #fff;
}

/* === INFINITE SCROLL === */
.infinite-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; /* occupe tout l’écran */
  overflow: hidden;
  overscroll-behavior: none;
}

.infinite-scroll-wrapper::before,
.infinite-scroll-wrapper::after {
  content: '';
  position: absolute;
  height: 25%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.infinite-scroll-wrapper::before {
  top: 0;
}

.infinite-scroll-wrapper::after {
  bottom: 0;
}

.infinite-scroll-container {
  display: flex;
  flex-direction: column;
  padding-inline: 0rem;
  transform-origin: center center;
}

.infinite-scroll-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-radius: 20px;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;

  /* === GLASS UI === */
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.367),
    inset 0 0 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.infinite-scroll-item {
  will-change: transform;
  transition: opacity 0.12s linear;
}

.infinite-scroll-item.is-teleport {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
